@import "../../../theme/my-colors.scss";
.header{
    background: color(blue, darker);
}
.redirect{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span{
        padding: 0.2rem;
        a{
            text-decoration: none;
            color: color(blue, base);
            cursor: pointer;
        }
    }
}