.redirect{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span{
        padding: 0.2rem;
        a{
            text-decoration: none;
            color: cyan
        }
    }
}