<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="logout()">logout</ion-button>
  <ion-button [routerLink]="'/add'">Add exercise</ion-button>
  <ion-card *ngFor="let exercise of userExercises" (click) = "openExercise(exercise)">
    <img src="https://www.picsum.photos/300/200" alt="Placeholder" *ngIf="exercise.images.length === 0">
    <img [src]=exercise.images[0].url alt="Placeholder2" *ngIf="exercise.images.length !== 0">
    <ion-card-header>
        <ion-card-subtitle>{{ exercise.muscleGroups.join(", ") }}</ion-card-subtitle>
        <ion-card-title>{{ exercise.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
