<ion-content>
  <section class="dark-bg">

    <app-navbar [returnButton]="true"></app-navbar>

    <form class="form" #addExerciseForm="ngForm" (ngSubmit)="onAddExercise()">

      <!-- ─────────────────── -->
      <!--     INFORMATION     -->
      <!-- ─────────────────── -->

      <h2 class="title margin-top-0">Exercise information</h2>

      <input    type="text" [(ngModel)]="newExercise.name"        name="name"        placeholder="Exercise name"        autocomplete="off" class="input required">
      <textarea type="text" [(ngModel)]="newExercise.description" name="description" placeholder="Exercise description" autocomplete="off" class="input" rows="5"></textarea>
      <input    type="text" [(ngModel)]="newExercise.machine"     name="machine"     placeholder="Exercise machine"     autocomplete="off" class="input">

      <!-- ──────────────────── -->
      <!--     MUSCLE GROUP     -->
      <!-- ──────────────────── -->

      <h2 class="title">Muscle group</h2>

      <div class="muscle-group">
        <input  class="input"  type="text" [(ngModel)]="muscleGroup" name="muscleGroup" placeholder="Muscle group" autocomplete="off">
        <button class="button" type="button" (click)="addMuscleGroup()">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>

      <div class="muscle-group-inserted" *ngIf="newExercise.muscleGroups.length > 0">
        <div class="item" *ngFor="let mg of newExercise.muscleGroups">
          <div class="input">{{ mg }}</div>
          <button class="button" type="button" (click)="removeMuscleGroup(mg)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <!-- ──────────────── -->
      <!--     PROGRESS     -->
      <!-- ──────────────── -->

      <h2 class="title">Progress</h2>

      <input class="input" type="number" [(ngModel)]="newExercise.series"   name="series"      placeholder="Series">
      <input class="input" type="number" [(ngModel)]="newExercise.reps"     name="repetitions" placeholder="Repetitions">
      <input class="input" type="number" [(ngModel)]="newExercise.weight"   name="weight"      placeholder="Weight (Kg)">
      <input class="input" type="number" [(ngModel)]="newExercise.restTime" name="rest-time"   placeholder="Rest time (seconds)">
      
      <!-- ────────────── -->
      <!--     IMAGES     -->
      <!-- ────────────── -->

      <h2 class="title">Images</h2>
      
      <div class="images">
        <ng-container *ngIf="imagesPickedAux.length > 0">
          <div #squaredImage class="image" *ngFor="let image of imagesPickedAux; let imageIndex = index" (click)="removeImage(imageIndex)" [style.backgroundImage]="'url(' + ( image.url ) + ')'" [ngStyle]="{ 'height.px': squaredImage.offsetWidth }"></div>
        </ng-container>
        <ng-container *ngIf="imagesPickedAux.length < 4">
          <button #squaredButton class="add" type="button" (click)="presentActionSheet()" [ngStyle]="{ 'height.px': squaredButton.offsetWidth }">
            <i class="fa fa-file-image-o" aria-hidden="true"></i>
          </button>
        </ng-container>
      </div>

      <!-- ───────────── -->
      <!--     VIDEO     -->
      <!-- ───────────── -->

      <h2 class="title">Video</h2>

      <input class="input" [(ngModel)]="newExercise.video" name="video" placeholder="YouTube URL">

      <!-- ──────────── -->
      <!--     DAYS     -->
      <!-- ──────────── -->

      <h2 class="title">Days to be done</h2>
      
      <div class="days" *ngIf="newExercise.days !== undefined">
        <div class="day" *ngFor="let dayName of dayNames; let i = index" (click)="selectDay(i)">
          <input class="checkbox" type="checkbox" [(ngModel)]="newExercise.days[i]" name="{{ dayNames[i] }}">
          <span class="name">{{ dayNames[i] }}</span>
        </div>
      </div>

      <div class="is-relative">
        <button id="submit_btn" class="button width-100 margin-0" type="submit" [disabled]="disabledSubmitButton">Save changes</button>
        <span class="error-message">{{ errorMessage }}</span>
      </div>

    </form>
  </section>
</ion-content>
