<ion-header>
  <ion-toolbar>
    <ion-title>add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- ──────────── -->
  <!--     FORM     -->
  <!-- ──────────── -->

  <form #addExerciseForm="ngForm" (ngSubmit)="onAddExercise(addExerciseForm)">
    
    <input    type="text" placeholder="Exercise name..."        [(ngModel)]="newExercise.name"        name="nombre"     >
    <textarea type="text" placeholder="Exercise description..." [(ngModel)]="newExercise.description" name="descripcion"></textarea>
    <input    type="text" placeholder="Machine name..."         [(ngModel)]="newExercise.machine"     name="maquina"    >
    <input    type="text" placeholder="Muscle group..."         [(ngModel)]="muscleGroup"             name="grupo"      >

    <button type="button" [disabled]="muscleGroup.length > 0">mhgmjngfh</button>

    <div *ngIf="newExercise.muscleGroups.length > 0">
      <ul>
        <li *ngFor="let muscle of newExercise.muscleGroups">
          {{ muscle }}
        </li>
      </ul>
    </div>

    <input type="submit" value="Add exercise" [disabled]="!addExerciseForm.form.valid"/>
    
  </form>
</ion-content>
