<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- ──────────── -->
  <!--     FORM     -->
  <!-- ──────────── -->

  <form #addExerciseForm="ngForm" (ngSubmit)="onAddExercise(addExerciseForm)">
    
        <ion-item>
          <ion-input type="text" [(ngModel)]="newExercise.name" name="name" placeholder="Exercise name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea [(ngModel)]="newExercise.description" name="description" placeholder="Exercise description"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="newExercise.machine" name="machine" placeholder="Exercise machine"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="muscleGroup" name="muscleGroup" placeholder="Muscle group"></ion-input>
        </ion-item>
        <!--
    <input    type="text" placeholder="Exercise name..."        [(ngModel)]="newExercise.name"        name="nombre"     >
    <textarea type="text" placeholder="Exercise description..." [(ngModel)]="newExercise.description" name="descripcion"></textarea>
    <input    type="text" placeholder="Machine name..."         [(ngModel)]="newExercise.machine"     name="maquina"    >
    <input    type="text" placeholder="Muscle group..."         [(ngModel)]="muscleGroup"             name="grupo"      >
        -->
    <ion-button type="button" [disabled]="muscleGroup.length <= 0" (click)="addMuscleGroup(addExerciseForm)">Add muscle group</ion-button>

    <div *ngIf="newExercise.muscleGroups.length > 0">
      <ul>
        <li *ngFor="let muscle of newExercise.muscleGroups">
          {{ muscle }}
        </li>
      </ul>
    </div>
    
    <ion-button type="button" (click)="pickImages()">Select images</ion-button>
    <!-- <ion-input type="file" accept="image/*" (change) = "imagePicked($event)">Select images</ion-input> -->
    <ion-item>  
      <ion-row *ngIf="newExercise.images">  
          <ion-col style="padding:10px;" col-4 *ngFor="let image of newExercise.images; let imageIndex = index">  
              <ion-card>  
                  <ion-thumbnail item-start (click)="removeImage(imageIndex)">  
                      <img src={{image.url}} alt="Sample Image">  
                  </ion-thumbnail>  
              </ion-card>  
          </ion-col>  
      </ion-row>  
  </ion-item>  
    <ion-button type="submit" [disabled]="!addExerciseForm.form.valid">Add exercise</ion-button>
    
  </form>
</ion-content>
