// Colors

@import '../../../theme/my-colors.scss';

$blue : color(blue, darker);
$black: rgb(040,040,040);
$lightblack: rgb(055,055,055);

// General

.form {
    padding: 0 25px;
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
    position: relative;
    z-index: 75;

    .item {
        color: color(beige, base);
        font-size: 12px;
        font-style: italic;
        font-weight: 600;
        text-transform: uppercase;
        border-top: 1px solid rgba(255,255,255,.1);
        padding: 15px;
        opacity: .75;

        &.first {
            border-top: none;;
            padding-top: 0;
        }

        &.separate {
            display: flex;
            justify-content: space-between;
        }
    }
}

// Edit excersice

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    background: $blue;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 55px;
    height: 55px;
}

// Multimedia

.machine-images {
    display: flex;
    justify-content: flex-start;
    padding: 0 15px;
    
    .machine-image {
        background-position: center;;
        background-repeat: no-repeat;
        background-size: cover;
        width: 25%;
        margin: 0 5px 15px 0;

        &:last-child {
            margin-right: 0;
        }
    }
}

.video {
    padding: 0 15px;
}

.zoomed-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: .25s;

    .image {
        border-radius: 2px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    }
}