<ion-content>
  <section class="dark-bg">

    <app-navbar [returnButton]="true"></app-navbar>

    <div class="form">

      <h2 class="title margin-top-0">Information</h2>

      <div class="item first" *ngIf="exercise.name">
        {{ exercise.name }}
      </div>

      <div class="item" *ngIf="exercise.machine">
        {{ exercise.machine }}
      </div>

      <div class="item" *ngIf="exercise.description">
        {{ exercise.description }}
      </div>

      <div class="item" *ngIf="exercise.muscleGroups">
        <ng-container *ngFor="let muscleGroup of exercise.muscleGroups; let i = index">
          {{ muscleGroup }}{{ i == exercise.muscleGroups.length - 1 ? '' : ', ' }}
        </ng-container>
      </div>      

      <h2 class="title">Progress</h2>

      <div class="item separate first">
        <span>Número de series</span>
        <span>{{ exercise.series }}</span>
      </div>

      <div class="item separate">
        <span>Número de repeticiones</span>
        <span>{{ exercise.reps }}</span>
      </div>

      <div class="item separate">
        <span>Peso</span>
        <span>{{ exercise.weight }}&nbsp;K</span>
      </div>

      <div class="item separate">
        <span>Tiempo de descanso</span>
        <span>{{ exercise.restTime }&nbsp;s</span>
      </div>

      <h2 class="title" *ngIf="exercise.images.length > 0 || exercise.video">Multimedia</h2>

      <div class="machine-images" *ngIf="exercise.images.length > 0">
        <div #squaredImage class="machine-image" *ngFor="let image of exercise.images" (click)="zoomImage( image.url )" [style.backgroundImage]="'url(' + ( image.url ) + ')'" [ngStyle]="{ 'height.px': squaredImage.offsetWidth }"></div>
      </div>

      <div class="video" *ngIf="exercise.video">
        <iframe #youtubeVideo width="100%" [ngStyle]="{ 'height.px': youtubeVideo.offsetWidth / 1.8 }" [src]="trustedVideoUrl" frameborder="0" allowfullscreen></iframe>
      </div>

      <!-- Edit Exercise Button -->
      <a class="edit" (click)="editExercise()">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>

      <!--  -->
      <div class="zoomed-image" (click)="closeZoomedImage()">
        <img class="image" alt="Zoomed Image">
      </div>

    </div>
  </section>
</ion-content>