// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** my-blue **/
  --ion-color-blue: #34ace0;
  --ion-color-blue-rgb: 52,172,224;
  --ion-color-blue-contrast: #000000;
  --ion-color-blue-contrast-rgb: 0,0,0;
  --ion-color-blue-shade: #2e97c5;
  --ion-color-blue-tint: #48b4e3;

  /** my-dark-blue**/
  --ion-color-dark-blue: #227093;
  --ion-color-dark-blue-rgb: 34,112,147;
  --ion-color-dark-blue-contrast: #ffffff;
  --ion-color-dark-blue-contrast-rgb: 255,255,255;
  --ion-color-dark-blue-shade: #1e6381;
  --ion-color-dark-blue-tint: #387e9e;

  --ion-color-purple: #40407a;
  --ion-color-purple-rgb: 64,64,122;
  --ion-color-purple-contrast: #ffffff;
  --ion-color-purple-contrast-rgb: 255,255,255;
  --ion-color-purple-shade: #38386b;
  --ion-color-purple-tint: #535387;

  --ion-color-dark-purple: #2c2c54;
  --ion-color-dark-purple-rgb: 44,44,84;
  --ion-color-dark-purple-contrast: #ffffff;
  --ion-color-dark-purple-contrast-rgb: 255,255,255;
  --ion-color-dark-purple-shade: #27274a;
  --ion-color-dark-purple-tint: #414165;

  --ion-color-green: #33d9b2;
  --ion-color-green-rgb: 51,217,178;
  --ion-color-green-contrast: #000000;
  --ion-color-green-contrast-rgb: 0,0,0;
  --ion-color-green-shade: #2dbf9d;
  --ion-color-green-tint: #47ddba;

  --ion-color-dark-green: #218c74;
  --ion-color-dark-green-rgb: 33,140,116;
  --ion-color-dark-green-contrast: #ffffff;
  --ion-color-dark-green-contrast-rgb: 255,255,255;
  --ion-color-dark-green-shade: #1d7b66;
  --ion-color-dark-green-tint: #379882;

  --ion-color-violet: #706fd3;
  --ion-color-violet-rgb: 112,111,211;
  --ion-color-violet-contrast: #ffffff;
  --ion-color-violet-contrast-rgb: 255,255,255;
  --ion-color-violet-shade: #6362ba;
  --ion-color-violet-tint: #7e7dd7;

  --ion-color-dark-violet: #474787;
  --ion-color-dark-violet-rgb: 71,71,135;
  --ion-color-dark-violet-contrast: #ffffff;
  --ion-color-dark-violet-contrast-rgb: 255,255,255;
  --ion-color-dark-violet-shade: #3e3e77;
  --ion-color-dark-violet-tint: #595993;

  --ion-color-beige: #f7f1e3;
  --ion-color-beige-rgb: 247,241,227;
  --ion-color-beige-contrast: #000000;
  --ion-color-beige-contrast-rgb: 0,0,0;
  --ion-color-beige-shade: #d9d4c8;
  --ion-color-beige-tint: #f8f2e6;

  --ion-color-dark-beige: #aaa69d;
  --ion-color-dark-beige-rgb: 170,166,157;
  --ion-color-dark-beige-contrast: #000000;
  --ion-color-dark-beige-contrast-rgb: 0,0,0;
  --ion-color-dark-beige-shade: #96928a;
  --ion-color-dark-beige-tint: #b3afa7;

  --ion-color-red: #ff5252;
  --ion-color-red-rgb: 255,82,82;
  --ion-color-red-contrast: #000000;
  --ion-color-red-contrast-rgb: 0,0,0;
  --ion-color-red-shade: #e04848;
  --ion-color-red-tint: #ff6363;

  --ion-color-dark-red: #b33939;
  --ion-color-dark-red-rgb: 179,57,57;
  --ion-color-dark-red-contrast: #ffffff;
  --ion-color-dark-red-contrast-rgb: 255,255,255;
  --ion-color-dark-red-shade: #9e3232;
  --ion-color-dark-red-tint: #bb4d4d;

  --ion-color-orange: #ff793f;
  --ion-color-orange-rgb: 255,121,63;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0,0,0;
  --ion-color-orange-shade: #e06a37;
  --ion-color-orange-tint: #ff8652;

  --ion-color-dark-orange: #cd6133;
  --ion-color-dark-orange-rgb: 205,97,51;
  --ion-color-dark-orange-contrast: #ffffff;
  --ion-color-dark-orange-contrast-rgb: 255,255,255;
  --ion-color-dark-orange-shade: #b4552d;
  --ion-color-dark-orange-tint: #d27147;

  --ion-color-gray: #d1ccc0;
  --ion-color-gray-rgb: 209,204,192;
  --ion-color-gray-contrast: #000000;
  --ion-color-gray-contrast-rgb: 0,0,0;
  --ion-color-gray-shade: #b8b4a9;
  --ion-color-gray-tint: #d6d1c6;

  --ion-color-dark-gray: #84817a;
  --ion-color-dark-gray-rgb: 132,129,122;
  --ion-color-dark-gray-contrast: #000000;
  --ion-color-dark-gray-contrast-rgb: 0,0,0;
  --ion-color-dark-gray-shade: #74726b;
  --ion-color-dark-gray-tint: #908e87;

  --ion-color-yellow: #ffb142;
  --ion-color-yellow-rgb: 255,177,66;
  --ion-color-yellow-contrast: #000000;
  --ion-color-yellow-contrast-rgb: 0,0,0;
  --ion-color-yellow-shade: #e09c3a;
  --ion-color-yellow-tint: #ffb955;

  --ion-color-dark-yellow: #cc8e35;
  --ion-color-dark-yellow-rgb: 204,142,53;
  --ion-color-dark-yellow-contrast: #000000;
  --ion-color-dark-yellow-contrast-rgb: 0,0,0;
  --ion-color-dark-yellow-shade: #b47d2f;
  --ion-color-dark-yellow-tint: #d19949;

  --ion-color-sand: #ffda79;
  --ion-color-sand-rgb: 255,218,121;
  --ion-color-sand-contrast: #000000;
  --ion-color-sand-contrast-rgb: 0,0,0;
  --ion-color-sand-shade: #e0c06a;
  --ion-color-sand-tint: #ffde86;

  --ion-color-dark-sand: #ccae62;
  --ion-color-dark-sand-rgb: 204,174,98;
  --ion-color-dark-sand-contrast: #000000;
  --ion-color-dark-sand-contrast-rgb: 0,0,0;
  --ion-color-dark-sand-shade: #b49956;
  --ion-color-dark-sand-tint: #d1b672;
}
