@import "../../../theme/my-colors.scss";

// Colors

$blue: rgb(50,115,225);

// Form

#login {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: url(../../../assets/img/bg-login.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 350px;

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: -35px;
        position: relative;
        z-index: 50;
        width: 100%;
        height: 100%;

        .input {
            display: block;
            color: white;
            background: none;
            border: none;
            border-bottom: 2px solid $blue;
            padding: 8px 10px;
            margin-bottom: 25px;
            width: 225px;
            transition: .25s ease-in;
    
            &:focus {
                outline: none;
                border-bottom-color: white;
            }
        }

        .is-relative {
            text-align: center;
            width: 100%;

            .button {
                color: white;
                font-size: 15px;
                font-style: italic;
                font-weight: 600;
                text-transform: uppercase;
                background: none;
                border: 2px solid $blue;
                padding: 15px 25px;
                margin-top: 25px;
                position: relative;
                width: 225px;
        
                &:focus {
                    background: $blue;
                    outline: none;
                }
        
                &:after {
                    content: '';
                    background: rgba(255,255,255,.05);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 50%;
                }
            }
    
            .error-message {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                color: darkred;
                font-size: 11px;
                line-height: 15px;
                padding: 0 50px;
                position: absolute;
                left: 0;
                bottom: -60px;
                width: 100%;
                height: 50px;
                opacity: 0;
                transition: .25s ease-in;
            }
        }
    }

    &:after {
        content: '';
        background: linear-gradient(180deg, transparent, rgba(0,0,0,.75) 40%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 25;
        width: 100%;
        min-height: 100vh;
    }

    .register-link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: relative;
        z-index: 50;
        height: 35px;
    }
}