<ion-content>

  <form id="login" #loginForm="ngForm" (ngSubmit)="login( loginForm )">

    <input  class="entrada" type="text"     [(ngModel)]="user.email"    name="email"    placeholder="Email"      required autocomplete="off">
    <input  class="entrada" type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
    <button class="boton"   type="submit">
      Submit
      <span class="error-message">{{ errorMessage }}</span>
    </button>
  
    <div class="register-link">
      Don't have an account?&nbsp;<a [routerLink]="'/register'" routerDirection="forward">Sign up here!</a>
    </div>

  </form>

</ion-content>