<ion-header>
  <ion-toolbar>
    <ion-title>{{exercise._name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides
    pager="true"
    paginationType="progress"
    [options]="sliderOptions"
    *ngIf="exercise._images.length > 0"
  >
    <ion-slide *ngFor="let img of exercise.images">
      <img [src]="img" alt="" />
    </ion-slide>
  </ion-slides>
  <section class="details machine" *ngIf="exercise.machine">
    {{exercise._machine}}
  </section>
  <ion-item>
    <ion-row>
      <ion-col size="9">
        <section class="details description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
          consequuntur suscipit necessitatibus debitis ad blanditiis est quo
          quos consectetur adipisci?
        </section>
      </ion-col>
      <ion-col size="3">
        <section class="details muscleGroup">
          <ion-list>
            <ion-item *ngFor="let mg of exercise.muscleGroups">
              <ion-label>{{mg}}</ion-label>
            </ion-item>
          </ion-list>
        </section>
      </ion-col>
    </ion-row>
  </ion-item>
  <section class="details video" *ngIf="exercise.video">
    {{trustedVideoUrl}}
  </section>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark-blue" (click)="editExercise()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
