<ion-header>
  <ion-toolbar>
    <ion-title>Exercise details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides
    pager="true"
    paginationType="progress"
    [options]="sliderOptions"
    *ngIf="exercise._images.length > 0"
  >
    <ion-slide *ngFor="let img of exercise._images">
      <img [src]="img" alt="" />
    </ion-slide>
  </ion-slides>
  <ion-fab>
    <ion-fab-button color="blue">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
