@import '../../../theme/my-colors.scss';

// Colors

$blue: color(blue, darker);
$black: rgb(050,050,050);
$lightblack: rgb(055,055,055);

// Routine

.routine {
    padding: 0 25px;
    margin: 0 auto;
    width: 100%;
    max-width: 650px;

    .exercises-list {

        .wrapper {
            border-radius: 2px;
            box-shadow: 5px 5px 10px rgba(0,0,0,.5);
            margin-bottom: 15px;
            position: relative;
            width: 100%;
            overflow: hidden;

            .card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $black;
                position: relative;
                right: 0;
                z-index: 50;
                width: 100%;
                height: 125px;
                transition: .25s ease-out;
            
                .thumbnail {
                    flex-shrink: 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 150px;
                    height: 100%;
                }
            
                .information {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: color(beige, base);
                    font-size: 12px;
                    font-weight: 600;
                    font-style: italic;
                    text-transform: uppercase;
                    line-height: 22px;
                    padding: 0 20px;
                    width: 100%;
                }
            
                .parameters {
                    color: color(beige, base);
                    font-size: 10px;
                    font-weight: 600;
                    font-style: italic;
                    text-transform: uppercase;
                    position: absolute;
                    top: 10px;
                    right: 12px;
                    opacity: .25;
                }
            
                &.active {
                    right: 150px;
                }
            
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .operations {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 25;
                width: 150px;
                height: 125px;

                .edit,
                .delete {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 75px;
                    height: 125px;

                    .icon {
                        color: color(beige, base);
                        font-size: 20px;
                    }

                    &::after {
                        content: '';
                        background: linear-gradient(to right, rgba(0,0,0,.5), transparent);
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 10px;
                    }
                }

                .edit   { background: orange }
                .delete { background: red    }
            }
        }
    }
}

// Title

.title .caret {
    transition: .25s;

    &.collapsed {
        transform: rotate(-90deg);
    }
}

// No Exercises

.no-routine {
    display: flex;
    align-items: center;
    justify-content: center;
    color: color(beige, base);
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 140px; // Navbar + Tabs height
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// Add Excersice

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    color: color(beige, base);
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    background: $blue;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 100;
    width: 55px;
    height: 55px;
}

// Days Selector

.tabs {
    background: rgb(45,45,45);
    box-shadow: inset 0 0 10px rgba(0,0,0,.5);
    padding: 0 25px;
    margin: 0 auto 50px;
    position: relative;
    z-index: 125;

    .days {
        padding: 25px 0;
        margin-top: -50px;
    
        .day {
            color: color(beige, base);
            font-size: 12px;
            font-weight: 600;
            font-style: italic;
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
            line-height: 20px;
            padding: 10px 25px;
            width: fit-content;
            transition: .25s ease-in;
    
            &.active {
                color: $blue;
                border-color: $blue;
            }
        }
    }

    &::after {
        content: '';
        background: url(./../../../assets/img/noise.png) center;
        background-size: 125px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: .5;
    }
}

// Confirm Box

.confirm-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.5);
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: .25s;
    
    .confirm-box {
        text-align: center;
        background: $black;
        border-radius: 2px;
        box-shadow: 5px 5px 10px rgba(0,0,0,.5);
        padding: 35px 0;
        width: 100%;
        max-width: 350px;

        .confirm-message {
            color: color(beige, base);
            font-size: 12px;
            font-weight: 600;
            font-style: italic;
            text-transform: uppercase;
            line-height: 22px;
            margin-bottom: 25px;
        }

        .confirm-buttons {
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.button {
    display: block;
    color: color(beige, base);
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
    border: 2px solid $blue;
    border-radius: 2px;
    padding: 15px 25px;
    margin: 0;
    position: relative;
    width: 85px;

    &:focus {
        background: $blue;
        outline: none;
    }

    &:after {
        content: '';
        background: rgba(255,255,255,.05);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
    }
}