<ion-content>
  <section id="home">

    <app-navbar></app-navbar>
    
    <!-- List of exercises -->
    <div class="exercises" *ngIf="exercises.length > 0">

    <!-- Sliding item with icon end options on end side 
        TODO -> Maquetar esto para que quede todo guapo
    -->
    <ion-item-sliding class="itemjiji" *ngFor="let exercise of exercises" style="background: red">
      <ion-item class="itemjiji" (click)="openExercise( exercise )" style="background: red">
        <div class="card">
          <div class="thumbnail" [style.backgroundImage]="'url(' + ( exercise.images | defaultImage ) + ')'"></div>
          <div class="information">
            <div class="name">{{ exercise.name }}</div>
            <div class="muscle-group">{{ exercise.muscleGroups.join(", ") }}</div>
          </div>
        </div>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="removeExercise( exercise.id )">
          <ion-icon slot="end" name="trash"></ion-icon>
          Remove
        </ion-item-option>
        <ion-item-option color="primary" (click)="editExercise( exercise )">
          <ion-icon slot="end" name="create"></ion-icon>
          Edit
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

      <!--

      <div class="card" *ngFor="let exercise of exercises" (click)="openExercise( exercise )">
  
        <div class="thumbnail" [style.backgroundImage]="'url(' + ( exercise.images | defaultImage ) + ')'"></div>

        <div class="information">
          <div class="name">{{ exercise.name }}</div>
          <div class="muscle-group">{{ exercise.muscleGroups.join(", ") }}</div>
        </div>
  
      </div> 

    -->
    </div>
  
    <!-- Warning when no exercises -->
    <div class="no-exercises" *ngIf=" exercises.length === 0">
      No exercises available yet...
    </div>
  
    <!-- Add exercise -->
    <a class="add" [routerLink]="'/add'">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>

  </section>
</ion-content>
