<ion-content>
  <section class="dark-bg">

    <app-navbar></app-navbar>

    <div class="exercises">
      <div class="wrapper" *ngFor="let exercise of exercises; let i = index">
        <div [id]="'card' + i" class="card" (tap)="openExercise( exercise )" (press)="showOptions( i )">
          <div class="thumbnail" [style.backgroundImage]="'url(' + ( exercise.images | defaultImage ) + ')'"></div>
          <div class="information">
            <div class="name">{{ exercise.name }}</div>
            <div class="muscle-group">{{ exercise.muscleGroups.join(", ") }}</div>
          </div>
        </div>
        <div class="operations">
          <span class="edit" (click)="editExercise( exercise )">
            <i class="icon fa fa-pencil"></i>
          </span>
          <span class="delete" (click)="removeExercise( exercise.id )">
            <i class="icon fa fa-trash"></i>
          </span>
        </div>
      </div>
    </div>
  
    <!-- Warning when no exercises -->
    <div class="no-exercises" *ngIf=" exercises.length === 0">
      No exercises available yet...
    </div>
  
    <!-- Add exercise -->
    <a class="add" [routerLink]="'/add'">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>

  </section>
</ion-content>
