<ion-content>
  <section class="dark-bg">

    <app-navbar></app-navbar>

    <!-- Days -->
    <div class="container">
      <ion-slides class="days" [options]="configuracion">
        <ion-slide class="day" *ngFor="let day of days; index as i" [ngClass]="{ 'active' : i == selectedDay }" (click)="changeDay( i )">
          {{ day }}
        </ion-slide>
      </ion-slides>
    </div>
    
    <div class="exercises" *ngIf=" exercises.length > 0">
      <ng-container *ngFor="let muscleToday of musclesToday; let j = index">
        <h2 class="title">{{ muscleToday }}</h2>
        <ng-container *ngFor="let exercise of exercisesToday[j]; let i = index">
          <div class="wrapper">
            <div [id]="'card' + i" class="card" (tap)="openExercise( exercise )" (press)="showOptions( i )">
              <div class="thumbnail" [style.backgroundImage]="'url(' + ( exercise.images | defaultImage ) + ')'"></div>
              <div class="information">{{ exercise.name }}</div>
            </div>
            <div class="operations">
              <span class="edit" (tap)="editExercise( exercise )" (press)="showOptions( i )">
                <i class="icon fa fa-pencil"></i>
              </span>
              <span class="delete" (tap)="removeExercise( exercise.id )" (press)="showOptions( i )">
                <i class="icon fa fa-trash"></i>
              </span>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  
    <!-- Warning when no exercises -->
    <div class="no-exercises" *ngIf=" exercises.length === 0">
      No exercises available yet...
    </div>
  
    <!-- Add exercise -->
    <a class="add" [routerLink]="'/add'">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>

  </section>
</ion-content>
