<ion-content>
  <section id="add">

    <app-navbar [returnButton]="true"></app-navbar>
  
    <!-- ──────────── -->
    <!--     FORM     -->
    <!-- ──────────── -->

    <form class="form" #addExerciseForm="ngForm" (ngSubmit)="onAddExercise()">

      <h2 class="title margin-top-0">Exercise information</h2>

      <input    type="text" [(ngModel)]="newExercise.name"        name="name"        placeholder="Exercise name"        autocomplete="off" class="input required">
      <textarea type="text" [(ngModel)]="newExercise.description" name="description" placeholder="Exercise description" autocomplete="off" class="input" rows="5"></textarea>
      <input    type="text" [(ngModel)]="newExercise.machine"     name="machine"     placeholder="Exercise machine"     autocomplete="off" class="input">

      <h2 class="title">Muscle group</h2>

      <div class="muscle-group">
        <input  class="input"  type="text"   [(ngModel)]="muscleGroup" name="muscleGroup" placeholder="Muscle group" autocomplete="off">
        <button class="button" type="button" (click)="addMuscleGroup()">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>

      <div class="muscle-group-inserted" *ngIf="newExercise.muscleGroups.length > 0">
        <div class="item" *ngFor="let mg of newExercise.muscleGroups">
          <div class="input">{{ mg }}</div>
          <button class="button" type="button" (click)="removeMuscleGroup(mg)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <h2 class="title">Images</h2>
      
      <button class="button" type="button" (click)="pickImages()">Select images</button>
      <!-- <ion-input type="file" accept="image/*" (change) = "imagePicked($event)">Select images</ion-input> -->

      <ion-item>  
        <ion-row *ngIf="newExercise.images">  
          <ion-col style="padding:10px;" size="4" *ngFor="let image of newExercise.images; let imageIndex = index">  
            <ion-card>  
              <ion-thumbnail item-start (click)="removeImage(imageIndex)">  
                <img src={{image.url}} alt="Sample Image">  
              </ion-thumbnail>  
            </ion-card>  
          </ion-col>  
        </ion-row>  
      </ion-item>

      <h2 class="title">Video</h2>

      <input class="input" [(ngModel)]="newExercise.video" name="video" placeholder="Video URL">
      <!-- [pattern]="http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w\-\_]*)(&(amp;)?[\w\?=]*)?" -->

      <h2 class="title">Days to be done</h2>
      
      <div class="days" *ngIf="newExercise.days !== undefined">
        <div class="day" *ngFor="let dayName of dayNames; let i = index">
          <input class="checkbox" type="checkbox" [(ngModel)]="newExercise.days[i]" name="{{ dayNames[i] }}">
          <span class="name">{{ dayNames[i] }}</span>
        </div>
      </div>

      <div class="is-relative">
        <button id="submit_btn" class="button width-100 margin-0" type="submit">Add exercise</button>
        <span class="error-message">{{ errorMessage }}</span>
      </div>

    </form>
  </section>
</ion-content>
