<ion-content>
  <section id="add">

    <app-navbar [returnButton]="true"></app-navbar>
  
    <!-- ──────────── -->
    <!--     FORM     -->
    <!-- ──────────── -->

    <form class="form" #addExerciseForm="ngForm" (ngSubmit)="onAddExercise(addExerciseForm)">

      <h2 class="title margin-top-0">Exercise information</h2>

      <input    class="input" type="text" [(ngModel)]="newExercise.name"        name="name"        placeholder="Exercise name"        autocomplete="off">
      <textarea class="input" type="text" [(ngModel)]="newExercise.description" name="description" placeholder="Exercise description" autocomplete="off" rows="5"></textarea>
      <input    class="input" type="text" [(ngModel)]="newExercise.machine"     name="machine"     placeholder="Exercise machine"     autocomplete="off">

      <h2 class="title">Muscle group</h2>
      <input  class="input"  type="text"   [(ngModel)]="muscleGroup" name="muscleGroup" placeholder="Muscle group" autocomplete="off">
      <button class="button" type="button" [disabled]="muscleGroup.length <= 0" (click)="addMuscleGroup( addExerciseForm )">Add muscle group</button>

      <div *ngIf="newExercise.muscleGroups.length > 0">
        <ion-list>
          <ion-item *ngFor="let mg of newExercise.muscleGroups">
            <ion-label>{{mg}}</ion-label>
            <ion-icon name="close" end (click)="removeMuscleGroup(mg)"></ion-icon>
          </ion-item>
        </ion-list>
      </div>

      <h2 class="title">Images</h2>
      
      <button class="button" type="button" (click)="pickImages()">Select images</button>
      <!-- <ion-input type="file" accept="image/*" (change) = "imagePicked($event)">Select images</ion-input> -->

      <ion-item>  
        <ion-row *ngIf="newExercise.images">  
          <ion-col style="padding:10px;" size="4" *ngFor="let image of newExercise.images; let imageIndex = index">  
            <ion-card>  
              <ion-thumbnail item-start (click)="removeImage(imageIndex)">  
                <img src={{image.url}} alt="Sample Image">  
              </ion-thumbnail>  
            </ion-card>  
          </ion-col>  
        </ion-row>  
      </ion-item>

      <h2 class="title">Video</h2>

      <input class="input" [(ngModel)]="newExercise.video" name="video" placeholder="Video description">
      <!-- [pattern]="http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w\-\_]*)(&(amp;)?[\w\?=]*)?" -->

      <button class="button width-100" type="submit" [disabled]="!addExerciseForm.form.valid">Add exercise</button>

    </form>
  </section>
</ion-content>
