<ion-content>
  <section id="home">

    <app-navbar></app-navbar>
    
    <!-- List of exercises -->
    <div class="exercises" *ngIf="exercises.length > 0">
      <div class="card" *ngFor="let exercise of exercises" (click)="openExercise( exercise )">
  
        <div class="thumbnail" [style.backgroundImage]="'url(' + ( exercise.images | defaultImage ) + ')'"></div>

        <div class="information">
          <div class="name">{{ exercise.name }}</div>
          <div class="muscle-group">{{ exercise.muscleGroups.join(", ") }}</div>
        </div>
  
      </div>
    </div>
  
    <!-- Warning when no exercises -->
    <div class="no-exercises" *ngIf=" exercises.length === 0">
      No exercises available yet...
    </div>
  
    <!-- Add exersice -->
    <a class="add" [routerLink]="'/add'">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>

  </section>
</ion-content>
